

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.body {
  margin: 0;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

/* .nav li.active {
  background-color: #555;
} */

.nav li:hover {
  background-color: #777;
}
